# OS / IDE
.DS_Store
.idea/
.vscode/

# Python
__pycache__/
.venv/
.env

# Secrets
.env_encoded
*.env_encoded
*service-account*.json
*cred*.json
secrets/
gcs.json

# Terraform
*.tfstate
*.tfstate.*
.terraform/
**/.terraform.lock.*

# Data
*.parquet
*.csv
data/

# Jupyter
.ipynb_checkpoints/